[Unit]
Description=SFTP to HTTP Proxy

[Service]
Type=simple
PIDFile=/run/sftp-proxy.pid
ExecStart=/usr/local/sbin/sftp-proxy -loadconfig /etc/sftp-proxy/config.json
KillMode=control-group
TimeoutStopSec=5
# wait five seconds before restarting, but just keep restarting forever on failure (the burst of 1000 will never be hit within 10 seconds)
RestartSec=10
StartLimitInterval=10
StartLimitBurst=1000

PrivateTmp=true
Restart=always

[Install]
WantedBy=multi-user.target
